h1 {
    font-size: 64px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-shadow: 5px 5px 2px #808080;
}

p{
    font-size: 24px;
    padding-top: 20px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 525px;
}

div {
    min-height: 150px;
    padding: 25px;
}

#red {
    background-color: red;
    text-align: right;
}

#blue {
    background-color: #4251f5;
    text-align: left;
}

#yellow {
    background-color: yellow;
    text-align: right;
}

#yellow > h2 {
    color: black;
    text-shadow: 5px 5px 2px #c7e2c7;
}

#yellow p {
    color: black;
}

#green {
    background-color: green;
    text-align: left;
}

body {
    background-color: black;
    color: white;
    font-family: "Lucida Grande", sans-serif;
}

footer {
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*code snippet taken from: https://www.w3schools.com/howto/howto_css_fixed_footer.asp/*/
    background-color: black;
}


